header{display:flex; position: absolute; width:100%; }
    main{height:100vh; width:100%; background:url(https://github.com/wooyoung6685/project01/blob/main/image/visual01.jpg?raw=true) no-repeat center center/cover; }
    *{
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul li{
        list-style: none;
    }
    header{
        position: absolute;
        display: flex;
    }
    header>h1{
        padding-top: 30px;
        padding-left: 50px;
    }
    .mid{
        margin: 0 auto;
        color:white;
        font-size: 18px;
    }
    .mid>ul{
        padding-top: 33px;
        padding-right: 200px;

    }
    .mid>ul>li{
        display: inline-block;
        padding-right: 50px;
        text-align: center;
        vertical-align: top;
    }
    .mid>ul>li>a{
        color:white;
        font-weight: 700;
        font-size: 18px;
    }
    .mid>ul>li>a>img{
        display: inline-block;
    }
    .right{
        display: flex;
        width: 130px;
        position: absolute;
        right: 1%;
        top:35px;
    }
    .right>li{
        padding-right: 20px;
    }
    .right>li>a{
        color:white;
        font-size: 18px;
        font-weight: 100;
    }
    .right>li>a>img{
        width: 16px;
    }
 .dep2{
    display:none;
 }
 