header{display:flex; position: absolute; width:100%; }
    main{height:100vh; width:100%; background:url(https://www.krict.re.kr/images/kor/main/visual02.jpg); }
    .inner{max-width: 1460px; margin:auto; width: 100%;}
    .gnb{  
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
    .w100{
      width: 100%;
      position: absolute;

    }
    .gnb li a{
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
    .inner{
      margin: 0px;
    }
    .util{
      display: flex;
      margin: 0px;
      padding: 0px;
      padding-top: 30px;
    }
    .util li{
      padding-right: 15px;
    }
    .util li a{
      font-size: 16px;
      font-weight: bold;
      color: white;
      
    }
    nav{
      padding-right: 100px;
    }
    .gnb{
      color: white;
    }
    header h1{
      padding:20px;
    }
  

    .depth2 li a{
      padding-top: 15px;
    }

    nav>ul>li ul{
      height: 0;
      overflow: hidden;
      transition: padding 0.5s;
      padding:0;
  }
  nav>ul>li:hover ul{
    height: auto;
    padding-bottom: 10px;

}
.gnb>li{
  width: 150px;
  height: 106px;
  display: flex;
  justify-content: center;
  position: relative;
}
.depth1{
  position: absolute;
  top:106px;
  width: 150px;
}
.depth1-1{
  position: absolute;
  left: 400px;
  top:106px;
  width: 150px;
}
.depth1-2{
  position: absolute;
  left: 700px;
  top:106px;
  width:150px;
}

.depth2{
  position: absolute;
  top:106px;
  width: 150px;
}
.depth2-1{
  position: absolute;
  left: 300px;
  top:106px;
  width: 150px;
}
.depth2-2{
  position: absolute;
  left: 600px;
  top:106px;
  width:150px;
}
